* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*debug*/
.bordi {
    border: dashed 2px black;
}

.top {
    background-color: cyan;
}

.bottom {
    background-color: blue;
}

.descrizione {
    background-color: rgb(248, 130, 232);
}

.immagine {
    background-color: rgb(40, 123, 247);
}

.testo {
    background-color: pink;
}

.quadrato {
    background-color: green;
}

/*debug*/

.container {
    display: flex;
}


.top {
    min-height: 60px;
    justify-content: center ;
    align-items: center;
}


.links{
    background-color: rgb(247, 160, 55);
    width: 60%;
    justify-content: space-between;
    height: 30px;
    align-content: center;
    align-items: stretch;
}

.logo, .login {
    width: calc(100% / 4)
    
}

.link {
    width: calc(100% / 2);
    text-align: center;
}

.bottom {
    min-height: 400px;
}

.descrizione {
    width: 50%;
    min-height: 300px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.primo {
    min-height: 500 px;
    background-color: white;
}

.secondo {
    min-height: 500 px;
    background-color: lightgrey;
}

.terzo {
    min-height: 800px;
    background-color: lightgrey;
    padding-top: 50px;
}

.strumenti {
    width: 60%;
    margin: auto;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.strumenti2 {
    width: 60%;
    margin: auto;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.immagine {
    width: 60%;
    height: 350px;
}

.testo {
    width: 40%;
    height: 350px;
}

.quadrato {
    width: 60%;
    height: 700px;
    text-align: center;
    margin: auto;
}